<div class="page-header">
    <h1>Welcome to the CFB 2018 Standings!</h1>
</div>
<br>
<div class="redirect">
  <a href="{{url_for('see_confs')}}">Go to Conferences Table</a>
  <br>
  <a href="{{ url_for('see_teams')}}">Go to Teams Table</a>
</div>
<br>
<br>


<!-- <div class="search-conf">
  <form action="http://localhost:5000/teams_in_conf/<conf>" method='GET'>
  Enter a conference name: <input type="text" name="Conference" value=""><br>
  <input type="submit" value="Submit">
  </form>
</div> -->
